@use "sass:color";
@use "../base/index" as *;

.template-list-page {
  padding: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h2 {
      font-size: 22px;
      font-weight: 600;
      color: $text-dark;
    }

    .btn-create {
      padding: 10px 18px;
      background-color: $primary;
      color: #fff;
      font-weight: 500;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: color.adjust($primary, $lightness: -8%);
      }
    }
  }

  .template-table {
    width: 100%;
    border-collapse: collapse;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
    overflow: hidden;

    th, td {
      padding: 16px;
      text-align: left;
      font-size: 14px;
      color: $text-dark;
    }

    thead {
      background-color: $gray-light;

      th {
        font-weight: 600;
        color: $text-muted;
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: rgba($primary, 0.05);
        }

        td {
          button {
            margin-right: 10px;
            padding: 6px 12px;
            background-color: $primary;
            color: white;
            border: none;
            border-radius: $border-radius;
            cursor: pointer;
            transition: background 0.3s;

            &:hover {
              background-color: color.adjust($primary, $lightness: -10%);
            }

            &:last-child {
              background-color: $danger;

              &:hover {
                background-color: color.adjust($danger, $lightness: -10%);
              }
            }
          }
        }
      }
    }
  }
}
