@use '../base/index' as *;

.editor-container {
  padding: 2rem;
  max-width: 960px;
  margin: 0 auto;

  .editor-title {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid $gray;
    border-radius: $border-radius;
    color: $text-dark;
  }

  .ql-editor {
    min-height: 250px;
    font-size: 15px;
    color: $text-dark;
  }

  .btn-salvar {
    margin-top: 24px;
    padding: 12px 24px;
    background-color: $primary;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}
