@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/utilities" as *;
@use "sass:color";

.search-bar {
  width: 100%;
  max-width: 400px;

  .input-wrapper {
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      font-size: 14px;
      color: #888;
    }

    input {
      width: 100%;
      padding: 10px 10px 10px 32px;
      border: none;
      border-radius: 6px;
      background-color: #f6f6f6;
      font-size: 14px;
      color: #444;
      outline: none;
    }
  }

  .history-list {
    margin-top: 8px;
    list-style: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    background-color: #f8f8f8;

    li {
      display: flex;
      align-items: center;
      padding: 10px;
      font-size: 14px;
      color: #999;
      cursor: pointer;
      transition: background 0.2s;

      .clock-icon {
        font-size: 12px;
        margin-right: 10px;
      }

      .name {
        color: #999;
      }

      &:hover {
        background-color: #eee;
      }

      &.selected {
        background-color: #d8d2d2;

        .name {
          color: #111;
          font-weight: 600;
        }
      }
    }
  }
}
