/* src/styles/global.scss */

// Importa as variáveis para que possamos usá-las aqui
@use 'base/variables' as *;

// Importa a fonte do Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// Reset básico e estilos do Body
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-sans;
  background-color: $color-background;
  color: $color-text-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}