// Importa todas as bases via arquivo centralizador
@use './base/index' as *;

// Módulos/Páginas
@use './modules/Buttons';
@use './modules/Contracts';
@use './modules/ContractTemplateList';       // Renomeado (era ContractTemplates)
@use './modules/EditContractTemplate';       // Já existente
@use './modules/ContractView';
@use './modules/Home';
@use './modules/Login';
@use './modules/Menu';
@use './modules/NewContract';
@use './modules/NewTenant';
@use './modules/Payment';
@use './modules/PaymentHistory';
@use './modules/SearchBarWithHistory';
@use './modules/StepProgress';
@use './modules/Tenants';
@use './modules/Topbar';
@use './modules/CreateContractTemplate';