// TROQUE OS DOIS @use POR @import
@import '../../styles/base/variables';
@import '../../styles/base/mixins';

.label {
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  color: $color-gray-700;
  display: block;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.input {
  @include input-base;
}