@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/utilities" as *;
@use "sass:color";

.topbar-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $breakpoint-md) {
    align-items: center;
  }
}

.user-welcome {
  font-size: 14px;
  color: #555;

  @media (max-width: $breakpoint-md) {
    text-align: center;
  }
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;

  @media (max-width: $breakpoint-md) {
    margin-top: 0.5rem;
  }
}
